<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yicuojin.football.mapper.FootballMatchRewardMapper" >
  <resultMap id="BaseResultMap" type="com.yicuojin.football.dao.FootballMatchReward" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="MatchId" property="matchid" jdbcType="INTEGER" />
    <result column="Aacount" property="aacount" jdbcType="DECIMAL" />
    <result column="Bacount" property="bacount" jdbcType="DECIMAL" />
    <result column="Cacount" property="cacount" jdbcType="DECIMAL" />
    <result column="Reward" property="reward" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, MatchId, Aacount, Bacount, Cacount, Reward
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yicuojin.football.dao.FootballMatchRewardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from football_match_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from football_match_reward
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from football_match_reward
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yicuojin.football.dao.FootballMatchRewardExample" >
    delete from football_match_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yicuojin.football.dao.FootballMatchReward" >
    insert into football_match_reward (Id, MatchId, Aacount, 
      Bacount, Cacount, Reward
      )
    values (#{id,jdbcType=INTEGER}, #{matchid,jdbcType=INTEGER}, #{aacount,jdbcType=DECIMAL}, 
      #{bacount,jdbcType=DECIMAL}, #{cacount,jdbcType=DECIMAL}, #{reward,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yicuojin.football.dao.FootballMatchReward" >
    insert into football_match_reward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="matchid != null" >
        MatchId,
      </if>
      <if test="aacount != null" >
        Aacount,
      </if>
      <if test="bacount != null" >
        Bacount,
      </if>
      <if test="cacount != null" >
        Cacount,
      </if>
      <if test="reward != null" >
        Reward,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchid != null" >
        #{matchid,jdbcType=INTEGER},
      </if>
      <if test="aacount != null" >
        #{aacount,jdbcType=DECIMAL},
      </if>
      <if test="bacount != null" >
        #{bacount,jdbcType=DECIMAL},
      </if>
      <if test="cacount != null" >
        #{cacount,jdbcType=DECIMAL},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yicuojin.football.dao.FootballMatchRewardExample" resultType="java.lang.Integer" >
    select count(*) from football_match_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update football_match_reward
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.matchid != null" >
        MatchId = #{record.matchid,jdbcType=INTEGER},
      </if>
      <if test="record.aacount != null" >
        Aacount = #{record.aacount,jdbcType=DECIMAL},
      </if>
      <if test="record.bacount != null" >
        Bacount = #{record.bacount,jdbcType=DECIMAL},
      </if>
      <if test="record.cacount != null" >
        Cacount = #{record.cacount,jdbcType=DECIMAL},
      </if>
      <if test="record.reward != null" >
        Reward = #{record.reward,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update football_match_reward
    set Id = #{record.id,jdbcType=INTEGER},
      MatchId = #{record.matchid,jdbcType=INTEGER},
      Aacount = #{record.aacount,jdbcType=DECIMAL},
      Bacount = #{record.bacount,jdbcType=DECIMAL},
      Cacount = #{record.cacount,jdbcType=DECIMAL},
      Reward = #{record.reward,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicuojin.football.dao.FootballMatchReward" >
    update football_match_reward
    <set >
      <if test="matchid != null" >
        MatchId = #{matchid,jdbcType=INTEGER},
      </if>
      <if test="aacount != null" >
        Aacount = #{aacount,jdbcType=DECIMAL},
      </if>
      <if test="bacount != null" >
        Bacount = #{bacount,jdbcType=DECIMAL},
      </if>
      <if test="cacount != null" >
        Cacount = #{cacount,jdbcType=DECIMAL},
      </if>
      <if test="reward != null" >
        Reward = #{reward,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicuojin.football.dao.FootballMatchReward" >
    update football_match_reward
    set MatchId = #{matchid,jdbcType=INTEGER},
      Aacount = #{aacount,jdbcType=DECIMAL},
      Bacount = #{bacount,jdbcType=DECIMAL},
      Cacount = #{cacount,jdbcType=DECIMAL},
      Reward = #{reward,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>