<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yicuojin.football.mapper.FootballMessageMapper">
    <resultMap id="BaseResultMap" type="com.yicuojin.football.dao.FootballMessage">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="UserId" property="userid" jdbcType="INTEGER"/>
        <result column="Type" property="type" jdbcType="INTEGER"/>
        <result column="Content" property="content" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="INTEGER"/>
        <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        Id, UserId, Type, Content, Status, UpdateTime, CreateTime
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.yicuojin.football.dao.FootballMessageExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from football_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from football_message
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from football_message
        where Id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.yicuojin.football.dao.FootballMessageExample">
        delete from football_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yicuojin.football.dao.FootballMessage">
        insert into football_message (Id, UserId, Type,
        Content, Status, UpdateTime,
        CreateTime)
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
        #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP},
        #{createtime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yicuojin.football.dao.FootballMessage">
        insert into football_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="userid != null">
                UserId,
            </if>
            <if test="type != null">
                Type,
            </if>
            <if test="content != null">
                Content,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="updatetime != null">
                UpdateTime,
            </if>
            <if test="createtime != null">
                CreateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yicuojin.football.dao.FootballMessageExample"
            resultType="java.lang.Integer">
        select count(*) from football_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update football_message
        <set>
            <if test="record.id != null">
                Id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userid != null">
                UserId = #{record.userid,jdbcType=INTEGER},
            </if>
            <if test="record.type != null">
                Type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.content != null">
                Content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                Status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.updatetime != null">
                UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createtime != null">
                CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update football_message
        set Id = #{record.id,jdbcType=INTEGER},
        UserId = #{record.userid,jdbcType=INTEGER},
        Type = #{record.type,jdbcType=INTEGER},
        Content = #{record.content,jdbcType=VARCHAR},
        Status = #{record.status,jdbcType=INTEGER},
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yicuojin.football.dao.FootballMessage">
        update football_message
        <set>
            <if test="userid != null">
                UserId = #{userid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                Type = #{type,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                Content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                Status = #{status,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null">
                UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="createtime != null">
                CreateTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yicuojin.football.dao.FootballMessage">
        update football_message
        set UserId = #{userid,jdbcType=INTEGER},
        Type = #{type,jdbcType=INTEGER},
        Content = #{content,jdbcType=VARCHAR},
        Status = #{status,jdbcType=INTEGER},
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
        CreateTime = #{createtime,jdbcType=TIMESTAMP}
        where Id = #{id,jdbcType=INTEGER}
    </update>
</mapper>