<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yicuojin.football.mapper.FootballRedeemCodeMapper" >
  <resultMap id="BaseResultMap" type="com.yicuojin.football.dao.FootballRedeemCode" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="UseId" property="useid" jdbcType="INTEGER" />
    <result column="RedeemCode" property="redeemcode" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="AppAccount" property="appaccount" jdbcType="DECIMAL" />
    <result column="Desc" property="desc" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UseTime" property="usetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, UserId, UseId, RedeemCode, Type, AppAccount, Desc, Status, CreateTime, UseTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yicuojin.football.dao.FootballRedeemCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from football_redeem_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from football_redeem_code
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from football_redeem_code
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yicuojin.football.dao.FootballRedeemCodeExample" >
    delete from football_redeem_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yicuojin.football.dao.FootballRedeemCode" >
    insert into football_redeem_code (Id, UserId, UseId, 
      RedeemCode, Type, AppAccount, 
      Desc, Status, CreateTime, 
      UseTime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{useid,jdbcType=INTEGER}, 
      #{redeemcode,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{appaccount,jdbcType=DECIMAL}, 
      #{desc,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{usetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yicuojin.football.dao.FootballRedeemCode" >
    insert into football_redeem_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="useid != null" >
        UseId,
      </if>
      <if test="redeemcode != null" >
        RedeemCode,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="appaccount != null" >
        AppAccount,
      </if>
      <if test="desc != null" >
        Desc,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="usetime != null" >
        UseTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="useid != null" >
        #{useid,jdbcType=INTEGER},
      </if>
      <if test="redeemcode != null" >
        #{redeemcode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="appaccount != null" >
        #{appaccount,jdbcType=DECIMAL},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yicuojin.football.dao.FootballRedeemCodeExample" resultType="java.lang.Integer" >
    select count(*) from football_redeem_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update football_redeem_code
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.useid != null" >
        UseId = #{record.useid,jdbcType=INTEGER},
      </if>
      <if test="record.redeemcode != null" >
        RedeemCode = #{record.redeemcode,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.appaccount != null" >
        AppAccount = #{record.appaccount,jdbcType=DECIMAL},
      </if>
      <if test="record.desc != null" >
        Desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usetime != null" >
        UseTime = #{record.usetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update football_redeem_code
    set Id = #{record.id,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=INTEGER},
      UseId = #{record.useid,jdbcType=INTEGER},
      RedeemCode = #{record.redeemcode,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=INTEGER},
      AppAccount = #{record.appaccount,jdbcType=DECIMAL},
      Desc = #{record.desc,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      UseTime = #{record.usetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicuojin.football.dao.FootballRedeemCode" >
    update football_redeem_code
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="useid != null" >
        UseId = #{useid,jdbcType=INTEGER},
      </if>
      <if test="redeemcode != null" >
        RedeemCode = #{redeemcode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="appaccount != null" >
        AppAccount = #{appaccount,jdbcType=DECIMAL},
      </if>
      <if test="desc != null" >
        Desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usetime != null" >
        UseTime = #{usetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicuojin.football.dao.FootballRedeemCode" >
    update football_redeem_code
    set UserId = #{userid,jdbcType=INTEGER},
      UseId = #{useid,jdbcType=INTEGER},
      RedeemCode = #{redeemcode,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      AppAccount = #{appaccount,jdbcType=DECIMAL},
      Desc = #{desc,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UseTime = #{usetime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>